html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(163, 225, 199);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
   

    
}

body {

    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
            flex-direction: column;  
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
    .project-card, .organization-card {
        display: flex;
        flex-direction: row;
        background-color: #dfcfcf;
        flex-wrap: nowrap;
        border: 1px solid #448c55;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        margin-right: 20px;
    }
    .organization-card  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5,  1fr);

    }
}